{%extends 'dash/dash_base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'dash/plugins/floatingButton/css/index.css' %}">
{% endblock %}
{% block content %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h4 id="big_title">{{ big_title }}</h4>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>



<section class="content" >

<div class="container-fluid">
  <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">{{ title }}</h3>

            <div class="card-tools">
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-4 pt-1">
            <table class="table table-hover text-nowrap" id="table_list">
              <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Номер заявки</th>
                    <th>Наименование МСП</th>
                    <th>Ответственный до приостановки</th>
                    <th>Ответственный после приостановки</th>
                    <th>Номер протокола</th>
                    <th>Дата протокола</th>
                    <th>Решение</th>
                    <th>Сумма</th>

                  <!--th></th-->
                </tr>
              </thead>
              <tbody id="tbody">
                {% for order in protocols_orders %}
                  <tr class="user-tr cursor-pointer" id="protocolOrderID_{{ order.id }}">
                      <td>{{ forloop.counter }}</td>
                      <td>{{ order.appointed_for_ok.ready_for_OK.order.number }}</td>
                      <td>{{ order.appointed_for_ok.ready_for_OK.order.company }}</td>
                      <td>{{ order.appointed_for_ok.ready_for_OK.order.responsible_preliminary.first_name }} {{ order.appointed_for_ok.ready_for_OK.order.responsible_preliminary.last_name }}</td>
                      <td>{{ order.appointed_for_ok.ready_for_OK.order.responsible_after_temp_stop.first_name }} {{ order.appointed_for_ok.ready_for_OK.order.responsible_after_temp_stop.last_name }}</td>
                      <td>{{ order.protocol.protocol_number }}</td>
                      <td><p class="d-none">{{ order.protocol.protocol_date|date:"d.m.Y" }}</p>{{ order.protocol.protocol_date|date:"d.m.Y" }}</td>
                      <td>{% if order.decision %}Положительное{% else %}Отрицательное{% endif %}</td>
                      <td>{{ order.max_sum }}</td>
                </tr>
               {% endfor %}

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>

</section>



{% endblock %}

{% block script %}

        <script type="text/javascript" src="{% static 'dash/plugins/floatingButton/js/index.js' %}"></script>


  <script>

  add_hover_menu('#nav_orders_appointed_for_ok_list')
    $('#content').fadeIn('fast').removeClass('d-none')

    $('.checkbox-choose-all-orders').change(function () {
      if(this.checked){
        $('.checkbox-ready-for-ok').prop('checked', true)

      }else {
        $('.checkbox-ready-for-ok').prop('checked', false)
      }
    })

    $('#del').on('click', function () {
        $('#ok_date').val('')
        if($('#ok_number').val() === ''){
            $('#protocol').prop('disabled', false)

        }
    })


    $('#protocol').on('change', function () {
        if($(this).val() !== '---'){
            $('#ok_number').attr('disabled', true).removeClass('input-to-fill-up').val('')
            $('#ok_date').attr('disabled', true).removeClass('input-to-fill-up').val('')
        }else {
            $('#ok_number').attr('disabled', false).addClass('input-to-fill-up').val('')
            $('#ok_date').attr('disabled', false).addClass('input-to-fill-up').val('')
        }
    })

    $('#ok_date').on('change', function () {
        if($(this).val() === '' && $('#ok_number').val() === ''){
            $('#protocol').prop('disabled', false)

        }else {
            $('#protocol').val('---').prop('disabled', 'disabled')
        }
    })
    $('#ok_number').on('input', function () {
        if($(this).val() === '' && $('#ok_number').val() === ''){
            $('#protocol').prop('disabled', false)

        }else {
            $('#protocol').val('---').prop('disabled', 'disabled')
        }
    })

    $('#save_passed_ok').on('click', function () {
        let protocol_ok_arr = []
        let checkMaxSum = new RegExp(/^\d+.?\d{0,2}$/);
        let error_arr = []
        let protocol_val = $('#protocol').val()
        let protocol_date = $('#ok_date').val()
        let protocol_number = $('#ok_number').val()
        let data = {}

        if($('#protocol').length !== 0 && protocol_val !== "---"){
            data.protocolID = $('#protocol option:selected').attr('id').split('_')[1]
            console.log('fdfdfd')
        }
        $('.ready-for-ok-confirmed').each(function () {
            let protocol_ok = {}

            let orderIDReadyForOK = $(this).attr('id').split('_')[1]
            let maxSum = $(this).find('.sum').val()
            console.log(orderIDReadyForOK)
            if(!checkMaxSum.test(maxSum)){
                error_arr.push($(this).find('td')[1].innerHTML)
            }else {
                protocol_ok['appointed_for_ok_id'] = orderIDReadyForOK
                protocol_ok['decision'] = $(this).find('.choose-conclusion-decision').val()
                protocol_ok['sum'] = $(this).find('.sum').val()
                protocol_ok_arr.push(protocol_ok)

            }
        })
        if(error_arr.length > 0){
             $('#modal_error_body').html('')
            $('#modal_error_title').html('Проверьте сумму по следующим заявкам (она должна быть представлена числом):')

            error_arr.map(function (order_number) {
                $('#modal_error_body').append('<p>' + order_number + '</p>')
            })

            $('#modal_error').modal('show')
        }else {
            let protocol_len = $('#protocol').length
            if((protocol_date === '' || protocol_number === '') && ((protocol_len !== 0 && protocol_val === "---") || protocol_len === 0)){
               console.log(protocol_date)
               console.log(protocol_number)
               console.log($('#protocol').length)
                toastr.error('Укажите номер и дату протокола')
            }else {
                if(!checkMaxSum.test(protocol_number) && protocol_number !== ''){
                    console.log(protocol_val)
                        toastr.error('Номер комиссии должен быть представлен числом')
                }else {
                    //сохраняем данные

                    $(this).html("<div class='d-flex justify-content-center'><div class='spinner-border' style='width: 20px; height: 20px;' role='status'><span class='visually-hidden'>Loading...</span></div></div>")
                    data.protocol_ok_arr = JSON.stringify(protocol_ok_arr)
                    data.protocol_date = protocol_date
                    data.protocol_number = protocol_number
                    $.ajax({
                      headers: { "X-CSRFToken": '{{ csrf_token }}' },
                      url: "{% url 'save_orders_for_protocol' %}",
                      type: 'POST',
                      traditional: true,
                      data: data,
                      //processData: false,
                      //contentType: false,
                      error: function(data){
                          toastr.error('Ошибка', data)
                      },
                      success:function (response) {
                        window.location.reload()
                      }

                    });

                }
            }


        }
    })





      $('#table_list_appoint_for_ok').on('change', '.choose-conclusion-decision', function () {
        console.log('tttt')
        if($(this).val() === 'Отрицательное'){
            $(this).closest('tr').find('.sum').attr('disabled', true).removeClass('input-to-fill-up').val('0.00')
        }else {
            let init_sum = $(this).closest('tr').find('.sum').data('sum')
            $(this).closest('tr').find('.sum').attr('disabled', false).addClass('input-to-fill-up').val(init_sum)
        }
    })

    $('#tbody_appoint_for_ok').on('change', '.checkbox-next-ok', function () {
      if(this.checked){
        let init_dicision = $(this).closest('tr').find('.choose-conclusion-decision').data('decision')
        let init_sum = $(this).closest('tr').find('.sum').data('sum')
      $(this).closest('tr').find('.choose-conclusion-decision').attr('disabled', true).removeClass('input-to-fill-up').val(init_dicision)
        $(this).closest('tr').find('.sum').attr('disabled', true).removeClass('input-to-fill-up').val(init_sum)
      }else {
        $(this).closest('tr').find('.sum').attr('disabled', false).addClass('input-to-fill-up')
        $(this).closest('tr').find('.choose-conclusion-decision').attr('disabled', false).addClass('input-to-fill-up')
      }
    })



    $('#appoint_for_protocol').on('click', function () {
        $("#table_list_appoint_for_ok").DataTable().destroy()
        if($('.checkbox-ready-for-ok:checked').length > 0){
            $('#modal-ready-for-ok-qnt').html($('.checkbox-ready-for-ok:checked').length)
            let cnt = 0
            let tr = ''
            $('.checkbox-ready-for-ok:checked').each(function () {
                cnt ++
                let order_number = $(this).closest('tr').find('td')[3].innerHTML
                let order_company = $(this).closest('tr').find('td')[4].innerHTML
                let order_decision = $(this).closest('tr').find('td')[5].innerHTML
                let order_sum = $(this).closest('tr').find('td')[6].innerHTML
                let order_id = $(this).closest('tr').attr('id').split('_')[1]
                let td_decision = ''
                if(order_decision === 'Положительное'){
                    td_decision =
                    "<td>" +
                    "<select class='custom-select input-to-fill-up choose-conclusion-decision' data-decision='Положительное'>" +
                    "<option selected='selected' >Положительное</option>" +
                    "<option>Отрицательное</option>" +
                    "</select>" +
                    "</td>"

                }else {
                    td_decision =
                    "<td>" +
                    "<select class='custom-select input-to-fill-up choose-conclusion-decision' data-decision='Отрицательное'>" +
                    "<option>Положительное</option>" +
                    "<option selected='selected' >Отрицательное</option>" +
                    "</select>" +
                    "</td>"

                }

                let tr_order = "<tr class='ready-for-ok-confirmed' id='orderIDReadyForOK_" + order_id + "'>" +
                    "<td>" + cnt + "</td>" +
                    "<td>" + order_number + "</td>" +
                    "<td>" + order_company + "</td>" +
                    td_decision +
                    "<td>" +
                    "<p class='d-none'>" + order_sum + "</p><input type='text' class='form-control input-to-fill-up sum' data-sum='" + order_sum + "' value='" + order_sum + "'>" +
                    "</td>" +
                    "</tr>"
                tr += tr_order
            })
            $('#tbody_appoint_for_ok').html(tr)


               $("#table_list_appoint_for_ok").DataTable({
                  "paging": false,
                  "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                  },
                  "initComplete": function () {

                  },
                  dom: 'Bfrtip',
                  buttons: [
                    {
                      extend: 'excelHtml5',
                      title: "Экспорт EXCEL - Выбрано для протокола ОК"
                    },
                    {
                      extend: 'pdfHtml5',
                      title: "Экспорт PDF - Выбрано для протокола ОК"
                    }]
                })

            $('#modal_appoint_for_ok').modal('show')
        }else {
            toastr.error('Ни одной заявки не выбрано', 'Ошибка')
        }

    })



    $("#table_list").DataTable({
      "aoColumnDefs": [{
      "bSortable": false,
        "orderable": false,
      "aTargets": [0]
        }],
      "order": [[1, "asc"]],

        "paging": false,
        "language": {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
        },
        "initComplete": function () {
        $('.dt-buttons').addClass('padding-top-10')
        hideLoaderSpinnerContent();
        $('#content').fadeIn('slow').removeClass('d-none')

        },
        dom: 'Bfrtip',
        buttons: [
        {
          extend: 'excelHtml5',
          title: "Экспорт EXCEL - Протокол ОК"
        },
        {
          extend: 'pdfHtml5',
          title: "Экспорт PDF - Протокол ОК"
        }]
    })


  </script>

{% endblock %}