{%extends 'dash/dash_base.html' %}
{% load static %}

{% block content %}


<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h4 id="big_title">{{ big_title }}</h4>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<section class="content" >


<div class="container-fluid pt-4">
  <div class="row">
      <div class="col-12">

          <div class="card" id="appoint_expert_for_check_manual">
            <div class="card-header">
              <h3 class="card-title">Список заявок</h3>

              <div class="card-tools">
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-4 pt-1">
              <table class="table table-hover text-nowrap list-table" id="">
                <thead>
                  <tr>
                    <th>Номер заявки</th>
                    <th>Наименование МСП</th>
                    <th>Дата подачи</th>
                    <th>Номер ПП</th>
                    <th>Крайний срок сдачи</th>
                      <!--th></th-->
                  </tr>
                </thead>
                <tbody id="tbody">
                  {% for order in orders %}
                  <tr class="user-tr cursor-pointer remade_order_send_to_subcotractor_date" id="orderID_{{ order.id }}">
                      <td>{{ order.number }}</td>
                      <td>{{ order.company }}</td>
                      <td>{{ order.date_of_appliance|date:"d.m.Y" }}</td>
                      <td>{{ order.pp }}</td>
                      <td>{{ order.end_date_for_responsible|date:"d.m.Y" }}</td>
                  </tr>
                  {% endfor %}


                </tbody>
              </table>
            </div>
              <!-- /.card-body -->
          </div>

        <!-- /.card -->
      </div>
    </div>
  </div>




</section>


{% endblock %}

{% block script %}

  <script>
  add_hover_menu('#nav_remade_order_send_to_subcotractor_date')
    $('#content').fadeIn('fast').removeClass('d-none')


      $('.remade_order_send_to_subcotractor_date').on('click', function(){

        showLoaderSpinnerContent();
        let orderID = $(this).attr('id').split('_')[1];
        console.log(orderID);
        let data = {}
        data.order_id = orderID
        window.location.href = "{% url 'remade_order_send_to_subcotractor_date_list' %}" + '/' + orderID;

      })

  </script>

{% endblock %}