{%extends 'dash/dash_base.html' %}
{% load static %}
{% block style %}

{% endblock %}


{% block content %}


<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h4>Данные о компании</h4>
          <h5>Дата добавления - <i>{{ company.added|date:"d.m.Y H:i" }}</i>{% if company.modified  %} | Дата изменения - <i>{{ company.modified|date:"d.m.Y H:i" }}</i>{% endif %}</h5>
          <h5>Последние измнения внесены пользователем - <i>{{ company.user.first_name }} {{ company.user.last_name }}</i></h5>

      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content pl-2 pr-2">

  <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"><?= title?></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

              <div class="card-body">

                <?if (data[1][17] !== ''){?>
                <div class="row col-md-12 mt-2">
                  <div class="form-group col-md-12">
                    <label for="temp_stop_no_notification_date">Название</label>
                    <input value="{{ company.name }}" id="name"  class="form-control input-to-fill-up" type="text" name="name">
                      </div>

                </div>
                <div class="row col-md-12 mt-2">
                  <div class="form-group col-md-12">
                    <label for="temp_stop_no_notification_date">Пользователи компании</label>
                    <table class="table text-nowrap list-table" >
                      <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Кем добавлен</th>
                            <th>Дата и время добавления</th>
                          <!--th></th-->
                        </tr>
                      </thead>
                      <tbody id="tbody">
                        {% for user in users %}
                          <tr class="">
                              <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
                               <td>{{ user.user_added.first_name }} {{ user.user_added.last_name }}</td>
                              <td>{{ user.added|date:"d.m.Y H:i" }}</td>
                              <td>{{ responsible_for_order_preliminary.added|date:"d.m.Y H:i" }}</td>

        <!--                      <?}?>-->
        <!--                    <? }?>-->
                            <!--td><i class="fas fa-ellipsis-v"></i></td-->
                        </tr>
                       {% endfor %}

                      </tbody>
                    </table>
                  </div>

                </div>


              </div>
              <!-- /.card-body -->
          </div>

        </div>
              <!-- /.card-body -->



          <!-- /.card -->




        <!-- /.card -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>


  </section>
  <button type="button" class="btn btn-primary btn-float" id="save_company_changes"><i class="fas fa-save" style="font-size: 25px;"></i></button>


{% endblock %}

{% block script %}
  <script>

    $('#content').fadeIn('slow').removeClass('d-none')



      //сохранение даты приостановки
      $('#save_company_changes').on('click', function(){

        var name = $('#name').val();

        ////////console.log('date = ', date)
        if(name === ''){
          toastr.error('Заполните название');
        }else{
          $(this).html("<div class='d-flex justify-content-center'><div class='spinner-border' style='width: 25px; height: 25px;' role='status'><span class='visually-hidden'>Loading...</span></div></div>")
          $(this).prop('disabled', true)
          var data = {}
          data.companyID = {{ company.id }};
          data.company_name = name

          $.ajax({
              headers: { "X-CSRFToken": '{{ csrf_token }}' },
              url: "{% url 'save_company_changes' %}",
              type: 'POST',
              data: data,
              // processData: false,
              // contentType: false,
              error: function(data){
                  toastr.error('Ошибка', data)
              },
              success:function (response) {
                showModalCommonNextStep({
                  title: 'Информация сохранена',
                  modal_body: '<b>Название компании упешно сохранено</b><br/>',
                    headerClass: 'bg-success'
                })

              }
            });

        }

      })



  </script>

{% endblock %}